In [1]:
import pandas as pd

gyms_df = pd.read_csv("7991.csv")
gyms_df

,Company Name,Address,City,State,Zip,County,Phone,Contact First,Contact Last,Title,Direct Phone,Email,Website,Employee Count,Annual Sales,SIC Code,Industry
0,Powerhouse Gym,802 Gambell St,Anchorage,AK,99501-3757,Anchorage,9.072777e+09,Jeff,Laurence,Owner,5.012276e+09,jeff@powerhousegym.com,http://www.powerhousegym.com,20 To 49,"$500,000 To $1 Million",799100,Physical Fitness Facilities
1,Mountain's Edge,1 Trappers St,Tok,AK,99780,Southeast Fairbanks,9.078832e+09,NaN,Jason,NaN,NaN,jason@mountainsedge.net,mountainsedge.net,5 To 9,$1 To 2.5 Million,799100,Physical Fitness Ct
2,Alaska Club,701 W 8th Ave Ste 180,Anchorage,AK,99501-3469,Anchorage,9.072744e+09,Steve,Best,NaN,NaN,s.best@thealaskaclub.com,thealaskaclub.com,5 To 9,"Less Than $500,000",799101,Fitness & Recreational Sports Centers
3,Alaska Club,1400 W Northern Lights Blvd,Anchorage,AK,99503-3615,Anchorage,9.072643e+09,Steve,Best,NaN,NaN,sbernstein@cbbld.com,NaN,20 To 49,"$500,000 To $1 Million",799101,Fitness & Recreational Sports Centers
4,Alaska Club,747 Old Richardson Hwy,Fairbanks,AK,99701-7898,Fairbanks North Star,9.074527e+09,Debbie,Ganley,NaN,NaN,debbie@infoinsights.com,alaskaclub.com,20 To 49,"$500,000 To $1 Million",799100,Physical Fitness Ct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88505,Escape Day Spa & Boutique,617 Broadway St Ste C,Rock Springs,WY,82901-6380,Sweetwater,3.073625e+09,Misty,Hay,Owner,NaN,m.hay@escapedayspa.us,NaN,10 To 19,"$500,000 To $1 Million",799101,Fitness & Recreational Sports Centers
88506,Reincarnation Medical Spa,220 E Broadway Ave,Jackson,WY,83001,Teton,3.077333e+09,Rathna,Rhau,Owner,NaN,info@reincarnationmedicalspa.com,www.reincarnationmedicalspa.co,1 To 4,"Less Than $500,000",799101,Fitness & Recreational Sports Centers
88507,Pilates In The Tetons,3525 N Moose Wilson Rd,Wilson,WY,83014,Teton,3.077320e+09,Jessica,Paffrath,Owner,NaN,j.paffrath@pilatesinthecanyon.com,www.pilatesinthecanyon.com,1 To 4,"Less Than $500,000",799101,Fitness & Recreational Sports Centers
88508,Gamefish,7710 Granite Loop Rd,Teton Village,WY,83025,Teton,3.077326e+09,Julie,Faupel,Employee Relations Director,NaN,jfaupel@snakeriverlodge.com,www.gtlc.com/index.aspx,20 To 49,$1 To 2.5 Million,799101,Fitness & Recreational Sports Centers
88509,Spur Restaurant & Bar At Teton,3385 Cody Ln,Teton Village,WY,83025,Teton,3.077327e+09,Tyler,Barker,General Manager,NaN,t.barker@tetonlodge.com,www.tetonlodge.com,10 To 19,"$500,000 To $1 Million",799101,Fitness & Recreational Sports Centers

In [2]:
gyms_df = gyms_df.drop_duplicates(subset='Address', keep="first")
gyms_df

,Company Name,Address,City,State,Zip,County,Phone,Contact First,Contact Last,Title,Direct Phone,Email,Website,Employee Count,Annual Sales,SIC Code,Industry
0,Powerhouse Gym,802 Gambell St,Anchorage,AK,99501-3757,Anchorage,9.072777e+09,Jeff,Laurence,Owner,5.012276e+09,jeff@powerhousegym.com,http://www.powerhousegym.com,20 To 49,"$500,000 To $1 Million",799100,Physical Fitness Facilities
1,Mountain's Edge,1 Trappers St,Tok,AK,99780,Southeast Fairbanks,9.078832e+09,NaN,Jason,NaN,NaN,jason@mountainsedge.net,mountainsedge.net,5 To 9,$1 To 2.5 Million,799100,Physical Fitness Ct
2,Alaska Club,701 W 8th Ave Ste 180,Anchorage,AK,99501-3469,Anchorage,9.072744e+09,Steve,Best,NaN,NaN,s.best@thealaskaclub.com,thealaskaclub.com,5 To 9,"Less Than $500,000",799101,Fitness & Recreational Sports Centers
3,Alaska Club,1400 W Northern Lights Blvd,Anchorage,AK,99503-3615,Anchorage,9.072643e+09,Steve,Best,NaN,NaN,sbernstein@cbbld.com,NaN,20 To 49,"$500,000 To $1 Million",799101,Fitness & Recreational Sports Centers
4,Alaska Club,747 Old Richardson Hwy,Fairbanks,AK,99701-7898,Fairbanks North Star,9.074527e+09,Debbie,Ganley,NaN,NaN,debbie@infoinsights.com,alaskaclub.com,20 To 49,"$500,000 To $1 Million",799100,Physical Fitness Ct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88503,Cocoon Health Spa,1012 Sprucewood Dr,Rock Springs,WY,82901-4485,Sweetwater,3.073826e+09,Ronda,Diemoz,Owner,NaN,rdiemoz@mpproductions.com,NaN,10 To 19,"Less Than $500,000",799101,Fitness & Recreational Sports Centers
88504,Anytime Fitness,1948 Edgar St,Rock Springs,WY,82901-6682,Sweetwater,3.073824e+09,Karen,Weidle,Owner,NaN,k.weidle@anytimefitness.com,www.anytimefitness.com,1 To 4,"Less Than $500,000",799100,Physical Fitness Ct
88505,Escape Day Spa & Boutique,617 Broadway St Ste C,Rock Springs,WY,82901-6380,Sweetwater,3.073625e+09,Misty,Hay,Owner,NaN,m.hay@escapedayspa.us,NaN,10 To 19,"$500,000 To $1 Million",799101,Fitness & Recreational Sports Centers
88508,Gamefish,7710 Granite Loop Rd,Teton Village,WY,83025,Teton,3.077326e+09,Julie,Faupel,Employee Relations Director,NaN,jfaupel@snakeriverlodge.com,www.gtlc.com/index.aspx,20 To 49,$1 To 2.5 Million,799101,Fitness & Recreational Sports Centers
88509,Spur Restaurant & Bar At Teton,3385 Cody Ln,Teton Village,WY,83025,Teton,3.077327e+09,Tyler,Barker,General Manager,NaN,t.barker@tetonlodge.com,www.tetonlodge.com,10 To 19,"$500,000 To $1 Million",799101,Fitness & Recreational Sports Centers

In [3]:
gyms_df.drop(columns=["Phone","Title", "Contact First", "Contact Last", "Direct Phone", "Email", "Website", "SIC Code"], axis=1, inplace=True)

gyms_df

C:\Users\erinv\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Company Name,Address,City,State,Zip,County,Employee Count,Annual Sales,Industry
0,Powerhouse Gym,802 Gambell St,Anchorage,AK,99501-3757,Anchorage,20 To 49,"$500,000 To $1 Million",Physical Fitness Facilities
1,Mountain's Edge,1 Trappers St,Tok,AK,99780,Southeast Fairbanks,5 To 9,$1 To 2.5 Million,Physical Fitness Ct
2,Alaska Club,701 W 8th Ave Ste 180,Anchorage,AK,99501-3469,Anchorage,5 To 9,"Less Than $500,000",Fitness & Recreational Sports Centers
3,Alaska Club,1400 W Northern Lights Blvd,Anchorage,AK,99503-3615,Anchorage,20 To 49,"$500,000 To $1 Million",Fitness & Recreational Sports Centers
4,Alaska Club,747 Old Richardson Hwy,Fairbanks,AK,99701-7898,Fairbanks North Star,20 To 49,"$500,000 To $1 Million",Physical Fitness Ct
...,...,...,...,...,...,...,...,...,...
88503,Cocoon Health Spa,1012 Sprucewood Dr,Rock Springs,WY,82901-4485,Sweetwater,10 To 19,"Less Than $500,000",Fitness & Recreational Sports Centers
88504,Anytime Fitness,1948 Edgar St,Rock Springs,WY,82901-6682,Sweetwater,1 To 4,"Less Than $500,000",Physical Fitness Ct
88505,Escape Day Spa & Boutique,617 Broadway St Ste C,Rock Springs,WY,82901-6380,Sweetwater,10 To 19,"$500,000 To $1 Million",Fitness & Recreational Sports Centers
88508,Gamefish,7710 Granite Loop Rd,Teton Village,WY,83025,Teton,20 To 49,$1 To 2.5 Million,Fitness & Recreational Sports Centers
88509,Spur Restaurant & Bar At Teton,3385 Cody Ln,Teton Village,WY,83025,Teton,10 To 19,"$500,000 To $1 Million",Fitness & Recreational Sports Centers

In [4]:
gyms_df.count()

Company Name      19111
Address           19111
City              19111
State             19112
Zip               19111
County            19107
Employee Count    16946
Annual Sales      16946
Industry          19112
dtype: int64

In [5]:
gyms_df= gyms_df.dropna(how='any')

In [6]:
gyms_df.count()

Company Name      16943
Address           16943
City              16943
State             16943
Zip               16943
County            16943
Employee Count    16943
Annual Sales      16943
Industry          16943
dtype: int64

In [7]:
gyms_df.dtypes

Company Name      object
Address           object
City              object
State             object
Zip               object
County            object
Employee Count    object
Annual Sales      object
Industry          object
dtype: object

In [8]:
gyms_df['Annual Sales'].value_counts()

Less Than $500,000            10553
$500,000 To $1 Million         2132
$1 To 2.5 Million              1802
Unknown                        1341
$2.5 To 5 Million               637
$5 To 10 Million                262
$10 To 20 Million               121
$20 To 50 Million                59
$100 To 500 Million              13
$50 To 100 Million                6
Over $1 Billion                   5
$500 Million To $1 Billion        1
$193,926,000                      1
$127,434,000,000                  1
$2,589,373,000                    1
$87,959,167,000                   1
$4,365,400,000                    1
$28,303,000                       1
$478,981,000                      1
$1,126,947,000                    1
$225,000                          1
$5,917,124,000                    1
$17,050,500,000                   1
Name: Annual Sales, dtype: int64

In [9]:
gyms_df['Annual Sales']=gyms_df['Annual Sales'].astype(str)

C:\Users\erinv\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
x = dict.fromkeys(['$193,926,000 ', '$2,589,373,000 ','$87,959,167,000 ','$4,365,400,000 ','$1,126,947,000 ','$5,917,124,000 ','$17,050,500,000 '], 'Over $1 Billion ')    
gyms_df['Annual Sales'] = gyms_df['Annual Sales'].replace(x)

C:\Users\erinv\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
x = dict.fromkeys(['$127,434,000,000 ', '$478,981,000 '], '$100 To 500 Million')    
gyms_df['Annual Sales'] = gyms_df['Annual Sales'].replace(x)

C:\Users\erinv\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
x = dict.fromkeys(['$225,000 '], 'Less Than $500,000 ')    
gyms_df['Annual Sales'] = gyms_df['Annual Sales'].replace(x)

C:\Users\erinv\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
x = dict.fromkeys(['$28,303,000 '], '$20 To 50 Million ')    
gyms_df['Annual Sales'] = gyms_df['Annual Sales'].replace(x)

C:\Users\erinv\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
gyms_df['Annual Sales'].value_counts()

Less Than $500,000            10553
$500,000 To $1 Million         2132
$1 To 2.5 Million              1802
Unknown                        1341
$2.5 To 5 Million               637
$5 To 10 Million                262
$10 To 20 Million               121
$20 To 50 Million                59
$100 To 500 Million              15
Over $1 Billion                   7
$50 To 100 Million                6
Over $1 Billion                   5
Less Than $500,000                1
$20 To 50 Million                 1
$500 Million To $1 Billion        1
Name: Annual Sales, dtype: int64

In [15]:
gyms_df['Industry'].value_counts()

Fitness & Recreational Sports Centers             6947
Health Clubs Studios & Gymnasiums                 3489
Physical Fitness Ct                               2070
Physical Fitness Facilities                       1528
Physical Fitness Clubs With Training Equipment     963
Personal Trainers-Fitness                          371
Exercise Facilities                                365
Exercise Salon                                     257
Health Spas                                        216
Gymnasiums                                         205
Health Club                                        148
Pilates                                            108
Athletic Club And Gymnasiums, Membership           105
Spas                                                88
Sports & Recreation Facilities Program              28
Aerobic Dance And Exercise Classes                  21
Weight Reducing Clubs                               18
Children's Fitness                                   8
Health & Fitness Center Management                   3
Aerobics                                             2
Amusement & Recreation Services                      1
Medical Fitness Centers                              1
Alexander Technique                                  1
Name: Industry, dtype: int64

In [16]:
gyms_df['Employee Count'].value_counts()

1 To 4            8082
5 To 9            3419
20 To 49          2094
10 To 19          1943
50 To 99           731
100 To 249         458
Unknown             91
250 To 499          78
500 To 999          21
1,000 To 4,999      10
5,000 To 9,999       3
Over 10,000          2
115                  1
310                  1
242,000              1
12,600               1
13,000               1
9,234                1
7,800                1
21,700               1
4                    1
40,909               1
21,800               1
Name: Employee Count, dtype: int64

In [17]:
gyms_df['Employee Count']=gyms_df['Employee Count'].astype(str)

C:\Users\erinv\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
x = dict.fromkeys(['1 To 4', '4', '5 To 9'], '1 To 10')    
gyms_df['Employee Count'] = gyms_df['Employee Count'].replace(x)

C:\Users\erinv\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
x = dict.fromkeys(['13,000', '242,000', '12,600', '21,700','40,909','21,800'], 'Over 10,000')    
gyms_df['Employee Count'] = gyms_df['Employee Count'].replace(x)

C:\Users\erinv\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
x = dict.fromkeys(['9,234', '7,800'], '5,000 To 9,999')    
gyms_df['Employee Count'] = gyms_df['Employee Count'].replace(x)

C:\Users\erinv\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
x = dict.fromkeys(['115'], '100 To 249')    
gyms_df['Employee Count'] = gyms_df['Employee Count'].replace(x)

C:\Users\erinv\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
x = dict.fromkeys(['310'], '250 To 499')    
gyms_df['Employee Count'] = gyms_df['Employee Count'].replace(x)

C:\Users\erinv\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
gyms_df['Employee Count'].value_counts()

1 To 10           11502
20 To 49           2094
10 To 19           1943
50 To 99            731
100 To 249          459
Unknown              91
250 To 499           79
500 To 999           21
1,000 To 4,999       10
Over 10,000           8
5,000 To 9,999        5
Name: Employee Count, dtype: int64

In [24]:
gyms_df['Zip']=gyms_df['Zip'].astype(str)

C:\Users\erinv\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
gyms_df['Zip1'] = gyms_df['Zip'].str[:5]

gyms_df.head()

C:\Users\erinv\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Company Name,Address,City,State,Zip,County,Employee Count,Annual Sales,Industry,Zip1
0,Powerhouse Gym,802 Gambell St,Anchorage,AK,99501-3757,Anchorage,20 To 49,"$500,000 To $1 Million",Physical Fitness Facilities,99501
1,Mountain's Edge,1 Trappers St,Tok,AK,99780,Southeast Fairbanks,1 To 10,$1 To 2.5 Million,Physical Fitness Ct,99780
2,Alaska Club,701 W 8th Ave Ste 180,Anchorage,AK,99501-3469,Anchorage,1 To 10,"Less Than $500,000",Fitness & Recreational Sports Centers,99501
3,Alaska Club,1400 W Northern Lights Blvd,Anchorage,AK,99503-3615,Anchorage,20 To 49,"$500,000 To $1 Million",Fitness & Recreational Sports Centers,99503
4,Alaska Club,747 Old Richardson Hwy,Fairbanks,AK,99701-7898,Fairbanks North Star,20 To 49,"$500,000 To $1 Million",Physical Fitness Ct,99701

In [26]:
gyms_df.drop(['Zip'], axis=1, inplace=True)

gyms_df.head()

C:\Users\erinv\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Company Name,Address,City,State,County,Employee Count,Annual Sales,Industry,Zip1
0,Powerhouse Gym,802 Gambell St,Anchorage,AK,Anchorage,20 To 49,"$500,000 To $1 Million",Physical Fitness Facilities,99501
1,Mountain's Edge,1 Trappers St,Tok,AK,Southeast Fairbanks,1 To 10,$1 To 2.5 Million,Physical Fitness Ct,99780
2,Alaska Club,701 W 8th Ave Ste 180,Anchorage,AK,Anchorage,1 To 10,"Less Than $500,000",Fitness & Recreational Sports Centers,99501
3,Alaska Club,1400 W Northern Lights Blvd,Anchorage,AK,Anchorage,20 To 49,"$500,000 To $1 Million",Fitness & Recreational Sports Centers,99503
4,Alaska Club,747 Old Richardson Hwy,Fairbanks,AK,Fairbanks North Star,20 To 49,"$500,000 To $1 Million",Physical Fitness Ct,99701

In [28]:
gyms_df.to_csv('Gyms3_file.csv', index=False)